RA4 XML & JSON/exercicis_validacio_xsd/exercici2/exercici2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="biblioteca">
            <xs:complexType>
            <xs:sequence>
                <xs:element name="llibre" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="titol" type="xs:string" />
                            <xs:element name="autor" type="xs:string" />
                            <xs:element name="any" type="xs:positiveInteger" />
                            <xs:element name="preu">
                                <xs:simpleType>
                                    <xs:restriction base="xs:decimal">
                                        <xs:minInclusive value="0.01"/>
                                        <xs:maxInclusive value="999.99"/>
                                    </xs:restriction>
                                </xs:simpleType>
                        </xs:element>
                        </xs:sequence>
                        <xs:attribute name="isbn" type="xs:string" use="required"/>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
  </xs:element>

</xs:schema>
