RA4 XML & JSON/exercicis_validacio_xsd/exercici1/exercici1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="biblioteca">
            <xs:complexType>
            <xs:sequence>
                <xs:element name="llibre" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="titol" type="xs:string" />
                            <xs:element name="autor" type="xs:string" />
                            <xs:element name="any" type="xs:positiveInteger" />
                            <xs:element name="preu" type="xs:decimal" />
                        </xs:sequence>
                        <xs:attribute name="isbn" type="xs:string" use="required"/>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
  </xs:element>

</xs:schema>